*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}

header{
    background-color: #070054;
    padding: 1rem 2rem;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #070054;
}
.logo{
    margin-right: auto;
}
.logo img{
    height: 60px;
    width: auto;
    object-fit: contain;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav-links a{
    color: #d9d9d9;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: white;
}

#hero{
    padding: 5rem 2rem;
    text-align: center;
    background-color: #070054;
}
@keyframes fadeInUp 
{
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeInUp 1s ease-out forwards;
}

#hero p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.cta-button{
    background-color: #d9d9d9;
    color: #070054;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover{
    background-color: white;
}
section{
    padding: 4rem 2rem;
    max-width: 900px;
    margin: auto;
    transition: transform 0.3s ease;
}
section:hover{
    transform: scale(1.02);
}
h2{
    color: #d9d9d9;
    margin-bottom: 1rem;
    border-bottom: 2px solid #070054;
    padding-bottom: 0.5rem;
}
ul{
    list-style: inside disc;
    color: #d9d9d9;
}
footer{
    background-color: #070054;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #d9d9d9;
}
#backToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    background-color: #070054;
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: none;
    z-index: 1000
}
html{
    scroll-behavior: smooth;
}
#theme-toggle{
    background: none;
    border: 1px solid #070054;
    padding: 8px 12px;
    cursor: pointer;
}
.dark-mode{
    background-color: #000;
    color: #fff;
}
.dark-mode nav,
.dark-mode footer{
    background-color: #070054;
}
